<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="content-type" content="text/html";charset=UTF-8? />

<title>Calculadora: <%= controller.action_name %></title>

<%= stylesheet_link_tag 'calculadora' %>

</head>

<body>


<p style="color: green"><%= flash[:notice] %></p>

<div id="all">

<div id="cabecera"><h1>MiniCalculadora sobre Railes</h1></div>

<div id="cuerpo">

<%= yield %>

</div>

</div>

</body>

</html>